@page
@model Matt.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<p class="text-danger">@Model.ErrorMessage</p>

<h3>Are you sure you want to delete @Html.DisplayFor(model => model.Album.Title) Album?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Title:
            @Html.DisplayFor(model => model.Album.Title)

        </dt>
        
        <dt class="col-sm-2">
            Artist:
            @Html.DisplayFor(model => model.Album.Artist.Name)
        </dt>
    </dl>
    <p>Tracks:</p>
<ol>
    @foreach (var q in Model.Album.Tracks)
    {
            <li>@Html.DisplayFor(modelItem => q.Name)</li> 
    }
</ol>

    <form method="post">
        <input type="hidden" asp-for="Album.AlbumId" />
        @* //<input type="submit" value="Delete" class="btn btn-danger" /> | *@
        <input type="submit" value="Delete" class="btn btn-danger" onclick="javascript:return confirm('Are you sure you want to delete this album?')" />
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
